@import url("https://use.typekit.net/gfu2ckn.css");

body {
  background-color: #ffefe3; /* koko sivun taustaväri */
}

/* Sovelluksen yleiset asetukset */
.App {
  text-align: center;
  font-family: "geneo-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #e6965d;  sovelluksen sisäinen taustaväri */
  margin: 20px;
}

.App-header {
  background-color: #e08735;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  color: #f0f0f0;
  min-height: 100vh;
  padding: auto;
}

.label {
  margin-bottom: 24px;
  display: block;
}

.input {
  appearance: none;
  text-align: center;
  font-size: 1.4rem;
  padding: 10px;
  margin-bottom: 28px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  width: 100%;
  max-width: 220px;
  color: #8b5125;
  background: #fdd3b4;
  font-weight: 700;
  font-family: "geneo-std", sans-serif;
  opacity: 1;
}

.button {
  background: linear-gradient(#dea04e, #e39322);
  color: #f1f6ff;
  font-size: 1.2rem;
  padding: 10px 20px;
  font-weight: 600;
  border: 2px solid #ad764d;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
}

.result {
  margin: 20px auto;
  font-size: 1.7rem;
  line-height: 1.5;
  max-width: 500px;
  white-space: normal;
}

.days-message {
  font-weight: 600;
  color: #ed0707;
  margin-bottom: 15px;
}

.subtitle {
  font-style: italic;
  color: #fff3f3;
  font-size: 0.8em;
  font-weight: 300;
}

.contact {
  font-size: 0.7em;
  line-height: 1.2; /* pienempi arvo, normaalisti 1.2–1.4 on hyvä */
}

.contact br {
  margin: 0;
  padding: 0;
  line-height: 0;
  display: inline;
}

span.contact br {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  display: inline !important;
}


a {
  color: hsl(44, 87%, 94%); /* normaali linkki */
  text-decoration: none; /* poistaa alleviivauksen */
}

a:visited {
  color: #f8f1ff; /* käyty linkki */
}

a:hover {
  color: #ffffff; /* hover-tila, kun hiiri on linkin päällä */
}

a:active {
  color: #ffffff; /* aktiivinen tila, kun linkkiä klikataan */
}

p.yhteystiedot {
  /* Esimerkiksi */
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.3 !important;
  font-weight: 500;
}
